<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>User's Page</title>
</head>
<body style="background-color: rgb(208, 200, 216);" >
  <nav  class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(182, 164, 199);">
    <div class="container-fluid">
          <a class="navbar-brand" style="color: rgb(81, 54, 107);" href="#">ExpenseBook</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" style="text-transform: capitalize; color: rgb(81, 54, 107);" aria-current="page" href="#">Hello, <%= currentuser%></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: rgb(81, 54, 107);" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ExpenseName</a>
                <ul class="dropdown-menu">
                <% if(user.length!=0){ %>
                  <% user.forEach(function(val){%>
                    <li><a href="/profile/<%=val._id %>" style="color: rgb(81, 54, 107);" onclick="selectexpense(`<%= val._id %>`)" class="radio text-capitalize dropdown-item" type="radio" name="expense" 
                    value="<%= val.expensename %>"><%= val.expensename %></a></li>
                <% }) %>  
                <% } else { %>
                  <li><label class="dropdown-item" for="create-expense" style="color: rgb(81, 54, 107);" href="#">Create Now...</label></li>
                <% } %>  
                </ul>
              </li>
            
              <li class="nav-item">
              </li>
            </ul>
            <form action="createexpense" method="POST" class="d-flex">
                <input class="form-control me-2" id="create-expense" required name="expensename" type="search" placeholder="Create New Expense..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Craete</button>
              </form>
              <a href="/logout"><button class="btn m-lg-1 btn-outline-success" type="submit"><%= username%>,Logout</button></a>
          </div>
        </div>
      </nav> 
      <!-- <img height="20%" width="20" src="../public/images/indexpic.jpg" alt="picture"> -->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <script src="./scrip.js"></script>

      <script>

        function selectexpense(val) {
            localStorage.setItem("expense", val);
            console.log("from Localstorage  " + localStorage.getItem("expense"))
        }
        
        function myfunction(){
            if(localStorage.getItem("expense")!= null){
                location.replace(`http://localhost:3000/profile/${localStorage.getItem("expense")}`);
            }
        }
        
            </script>
        

</body>
</html>